@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Spartan:wght@700&display=swap");

:root {
  --font: "Comfortaa", cursive;
  --sub-font: "Open Sans", sans-serif;
  --base-color: #fbcc0a;
  --hero-color: #ffaa17;
  --base-hover-color: #b29106;
  --white-color: #fff;
  --line-gray: #e1e1e1;
  --black-color: #333333;
  --font-color: #686a6f;
  --font-2xl: 70px;
  --font-xl: 58px;
  --font-l: 40px;
  --font-l: 40px;
  --font-m: 20px;
  --font-s: 14px;
  --font-base: 16px;
  --font-xs: 12px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  font-size: var(--font-base);
  color: var(--font-color);
}

/* img{
  max-width: 100%;
  vertical-align: middle;
} */


.container {
  max-width: 1200px;
  margin: auto;
  padding: 0px 15px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

section{
  margin-top: 100px;;
}


/* 
.col-1{ padding: 0 15px; box-sizing: border-box; width: 8.333333%; }
.col-2{ padding: 0 15px; box-sizing: border-box; width: 16.666666%; }
.col-3{ padding: 0 15px; box-sizing: border-box; width: 25%; }
.col-4{ padding: 0 15px; box-sizing: border-box; width: 33.333333%; }
.col-5{ padding: 0 15px; box-sizing: border-box; width: 41.666666%; }
.col-6{ padding: 0 15px; box-sizing: border-box; width: 50%; }
.col-7{ padding: 0 15px; box-sizing: border-box; width: 58.333333%; }
.col-8{ padding: 0 15px; box-sizing: border-box; width: 66.666666%; }
.col-9{ padding: 0 15px; box-sizing: border-box; width: 75%; }
.col-10{ padding: 0 15px; box-sizing: border-box; width: 83.333333%; }
.col-11{ padding: 0 15px; box-sizing: border-box; width: 91.666666%; }
.col-12{ padding: 0 15px; box-sizing: border-box; width: 100%; }


@media screen and (min-width: 768px){
    .col-md-1{ padding: 0 15px; box-sizing: border-box; width: 8.333333%; }
    .col-md-2{ padding: 0 15px; box-sizing: border-box; width: 16.666666%; }
    .col-md-3{ padding: 0 15px; box-sizing: border-box; width: 25%; }
    .col-md-4{ padding: 0 15px; box-sizing: border-box; width: 33.333333%; }
    .col-md-5{ padding: 0 15px; box-sizing: border-box; width: 41.666666%; }
    .col-md-6{ padding: 0 15px; box-sizing: border-box; width: 50%; }
    .col-md-7{ padding: 0 15px; box-sizing: border-box; width: 58.333333%; }
    .col-md-8{ padding: 0 15px; box-sizing: border-box; width: 66.666666%; }
    .col-md-9{ padding: 0 15px; box-sizing: border-box; width: 75%; }
   .col-md-10{ padding: 0 15px; box-sizing: border-box; width: 83.333333%; }
   .col-md-11{ padding: 0 15px; box-sizing: border-box; width: 91.666666%; }
   .col-md-12{ padding: 0 15px; box-sizing: border-box; width: 100%; }			
}


@media screen and (min-width: 1024px){
  .col-md-1{ padding: 0 15px; box-sizing: border-box; width: 8.333333%; }
  .col-md-2{ padding: 0 15px; box-sizing: border-box; width: 16.666666%; }
  .col-md-3{ padding: 0 15px; box-sizing: border-box; width: 25%; }
  .col-md-4{ padding: 0 15px; box-sizing: border-box; width: 33.333333%; }
  .col-md-5{ padding: 0 15px; box-sizing: border-box; width: 41.666666%; }
  .col-md-6{ padding: 0 15px; box-sizing: border-box; width: 50%; }
  .col-md-7{ padding: 0 15px; box-sizing: border-box; width: 58.333333%; }
  .col-md-8{ padding: 0 15px; box-sizing: border-box; width: 66.666666%; }
  .col-md-9{ padding: 0 15px; box-sizing: border-box; width: 75%; }
 .col-md-10{ padding: 0 15px; box-sizing: border-box; width: 83.333333%; }
 .col-md-11{ padding: 0 15px; box-sizing: border-box; width: 91.666666%; }
 .col-md-12{ padding: 0 15px; box-sizing: border-box; width: 100%; }			
} */