@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Spartan:wght@700&display=swap');

:root{
  --font: 'Comfortaa', cursive;
  --sub-font: "Open Sans", sans-serif;
  --base-color: #fbcc0a;
  --hero-color: #ffaa17;
  --base-hover-color: #b29106;
  --white-color: #fff;
  --line-gray: #e1e1e1;
  --black-color: #333333;
  --font-l: 40px;
  --font-m: 20px;
  --font-s: 14px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:var(--font);
  font-size: var(--font-s);
  background-color: #ccc;
}

img{
  max-width: 100%;
  vertical-align: middle;
}

.container{
  max-width: 1024px;
  margin: auto;
  padding: 0px 15px;
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}